@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(234, 239, 255);
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;

    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);;
}

.chatbot h2 {
    background-color:rgb(140, 39, 255);
    padding: 15px 0 ;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 1.4rem;
}

.chatbot .chatbox {
    height: 400px;
    overflow-y: auto;
}

